.results {
  margin-top: 40px;
  list-style: none;
}
.parkName {
  font-size: 30px;
}
.parkDesc {
  font-size: 20px;
  margin-top: 5px;
}
.parkDirec {
  margin-top: 10px;
}
body {
  background-color: gainsboro;
}
.error_handle {
  color: red;
}
